{% import "ak_affiliates_macros.njk" as ak_affiliates with context %}
{% import "ak_bootstrap_macros.njk" as ak_bootstrap with context %}

{% set plugin = config.plugin("@akashacms/plugins-affiliates") %}

{%- set accordion_id = id + "-accordion" -%}
{%- call ak_bootstrap.collapse_container(id=accordion_id) -%}
    {%- set first = "true" -%}
    {% for productid in products -%}
        {#
        Make it so the first item in the accordion
        is not collapsed --- collapsed=false

        The other items must be collapsed
         #}
        {%- if first === "true" -%}
        {%- set collapsed = "false" -%}
        {%- else -%}
        {%- set collapsed = "true" -%}
        {%- endif -%}
        {%- set first = "false" -%}
        {#-
        The issue here is that getProducData is async,
        and cannot be called from the macro.  Instead,
        we must use the custom element where the
        async code can be executed.

        {% set product = plugin.getProductData(undefined, productid) %}
        <p>before collapse item productid {{ productid }}</p>
        -#}
        <affiliate-product
            template="affiliate-product-callapse-item.html.njk"
            parentid="{{ accordion_id }}"
            productid="{{ productid }}"
            collapsed="{{ collapsed }}">
        </affiliate-product>
    {%- endfor -%}
{%- endcall -%}
