<form method="GET" action="https://www.amazon.ca/gp/aws/cart/add.html"<%- targetBlank %><%- formDisplay %>>
<input type="hidden" name="AssociateTag" value="<%= affcode %>"/>
<input type="hidden" name="ASIN.1" value="<%= ASIN %>/"/>
<input type="hidden" name="Quantity.1" value="1"/>
<input type="image" name="add" value="Buy from Amazon.ca" border="0" alt="Buy from Amazon.ca" src="https://images.amazon.com/images/G/15/associates/network/build-links/buy-from-ca-tan.gif">
</form>
