---
title: Buy Buttons
layout: default.html.ejs
---

<div id="elem-ca-buy">
<amazon-ca-buy asin="B06Y3KCWD7"></amazon-ca-buy>
</div>

<div id="elem-co-uk-buy">
<amazon-co-uk-buy asin="B06Y3KCWD7"></amazon-co-uk-buy>
</div>

<div id="elem-co-jp-buy">
<amazon-co-jp-buy asin="B06Y3KCWD7"></amazon-co-jp-buy>
</div>

<div id="elem-com-buy">
<amazon-com-buy asin="B06Y3KCWD7"></amazon-com-buy>
</div>

<div id="elem-de-buy">
<amazon-de-buy asin="B06Y3KCWD7"></amazon-de-buy>
</div>

<div id="elem-es-buy">
<amazon-es-buy asin="B06Y3KCWD7"></amazon-es-buy>
</div>

<div id="elem-fr-buy">
<amazon-fr-buy asin="B06Y3KCWD7"></amazon-fr-buy>
</div>

<div id="elem-it-buy">
<amazon-it-buy asin="B06Y3KCWD7"></amazon-it-buy>
</div>

{% import "ak_affiliates_macros.njk" as ak_affiliates with context %}

<div id="macro-ca-buy">
{{ ak_affiliates.aff_amzn_ca_button("B06Y3KCWD7") }}
</div>

<div id="macro-co-uk-buy">
{{ ak_affiliates.aff_amzn_co_uk_button("B06Y3KCWD7") }}
</div>

<div id="macro-co-jp-buy">
{{ ak_affiliates.aff_amzn_co_jp_button("B06Y3KCWD7") }}
</div>

<div id="macro-com-buy">
{{ ak_affiliates.aff_amzn_com_button("B06Y3KCWD7") }}
</div>

<div id="macro-de-buy">
{{ ak_affiliates.aff_amzn_de_button("B06Y3KCWD7") }}
</div>

<div id="macro-es-buy">
{{ ak_affiliates.aff_amzn_es_button("B06Y3KCWD7") }}
</div>

<div id="macro-fr-buy">
{{ ak_affiliates.aff_amzn_fr_button("B06Y3KCWD7") }}
</div>

<div id="macro-it-buy">
{{ ak_affiliates.aff_amzn_it_button("B06Y3KCWD7") }}
</div>
